*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;

--heading-color:#181a20;

--text-descripition:#6b6a6a;

}

/*
.blur{
display: none;
 
}
.blur.ativo{
  display: block;
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 74vw;
  z-index: 9;
  background-color: #181a2058;
}
*/