*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
  outline: none!important;
--destaque:#EB6753;
--azul-elegance:#0E2E50;
--heading-color:#181a20;

--text-descripition:#6b6a6a;
}


a{
  text-decoration: none;
  color: var(--heading-color);
}


button{
  cursor: pointer;
}